/* components/Layout/Layout.css */
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(180, 180, 180);
  }

  .topbar {
    width: 100%;
    height: 7%; /* Adjust the height as needed */
    min-height: 7%; /* Ensure it takes at least 55px */
  }

  .sidebar-content-container {
    display: flex;
    flex: 1;
    height: 93%;
    min-height: 93%; /* Ensure it takes at least 93% */
  }

  .sidebar {
    min-width: 310px; /* Adjust the width as needed */
    height: 100%; /* Ensure it takes full height */
    font-size: rem;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: #F2F2F2;
    color:black;
    overflow-y: auto; /* Optional: scroll content if it overflows */
  }

  .content > div {
    height: 99%;
    width: 99%;
    background-color: white;
  }

  .sidebar-div {
    font-size: 1.6rem

  }
