/* .wrapper {
    background: rgb(255, 255, 255);
    color: black;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    height: 100%;
    width: 15%;
}

.navButton {
    background: rgb(255, 255, 255);
    text-align: left;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    height: 50px;
    width: 100%;
} */